:root {
  --meme: linear-gradient(90deg, #672280 1.18%, #A626D3 100%)
}

body {
  font-family: 'Karla', sans-serif;
}

.meme--header {
  display: flex;
  flex-direction: row;
  height: 65px;
  background: var(--meme);
  padding: 20px;
}

.header--image {
  height: 100%;
  margin-right: 6px;
}